@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital@1&display=swap');

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url('images/field-background.jpg') 0 50% no-repeat;
  background-size: 100%;
  font-family: 'Chakra Petch', sans-serif;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
}

.main-title {
  margin: 0 0 3vw 3vw;
  font-size: 6vw;
}

button {
  height: 30px;
  font-family: 'Quantico', sans-serif;
}

main {
  display: flex;
  padding: 0 3vw;
  justify-content: space-around;
}

/**************** Scores */

.scoresContainer {
  background-color: rgba(0, 0, 0, 0.757);
  height: fit-content;
}

.scoresHeader {
  display: flex;
  border: 3px solid white;
  align-items: center;
}

.scores-title {
  margin: 1.8vw;
  font-size: 4.5vw;
}

#refresh-btn {
  margin: 9px;
}

#scores {
  border: 3px solid white;
  padding: 0;
}

.scoresUl {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  padding: 0;
  justify-content: flex-start;
  max-height: 52.5vh;
  overflow-y: scroll;
}

.scoreLi {
  display: flex;
  margin: 3px;
  justify-content: space-between;
  background-color: rgba(24, 24, 24, 0.789);
}

.user {
  display: flex;
  align-items: center;
  padding-left: 9px;
}

.user-score {
  outline: none;
  margin: 0;
  width: 60px;
  height: 33px;
  border: 1px solid gray;
  background-color: rgb(24, 24, 24);
  text-align: center;
  font-family: 'Quantico', sans-serif;
  color: gold;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/****************** Add */

form {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0.757);
}

.formUl {
  display: flex;
  margin: 1.8vw;
  background-color: rgba(24, 24, 24, 0.789);
  justify-content: space-between;
  padding: 0;
}

.user-li {
  width: 100%;
}

.user-name {
  width: 90%;
  border: none;
  outline: none;
  background-color: #fff0;
  padding: 9px;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: white;
}

#submit {
  margin: 0 1.8vw 1.8vw auto;
}
